/* app css stylesheet */

.top-section {
	text-align: center;
	margin: 50px;
}
.table-section {
	max-width: 900px;
	margin: 50px auto;
}
.back-btn {
	text-align: center;
}
.first-cell {
	width: 225px;
}