<div class="container-fluid">
	<div class="top-section">
		<h1>Grow the web with referrals!</h1>
		<form ng-submit="addLink()" class="form-inline">
			<input ng-model="newLink" type="text" placeholder="Add new link">
			<button class="btn" type="submit" value="add">Add Link</button>
		</form>
	</div>
	<div class="table-section">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Link Title</th>
					<th>Clicks</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			<thead>
			<tbody>
				<tr ng-repeat="l in links">
					<td class="first-cell">
						<a href="#/landing/{{l.slug}}" ng-click="addClick(l)" ng-hide="l.edit">{{l.name}}</a>
						<input ng-model="l.name" type="text" placeholder="{{l.name}}" ng-show="l.edit"></td>
					<td>{{l.clicks}}</td>
					<td>
						<button class="btn" ng-click="editItem(l)" ng-hide="l.edit">Edit</button>
						<button class="btn btn-primary" ng-click="saveItem(l)" ng-show="l.edit">Save</button></td>
					<td><button class="btn btn-danger" ng-click="deleteLink(l)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
