<div class="container-fluid">
	<div class="top-section">
		<h1>Grow the web with referrals!</h1>
		<form ng-submit="addLink()" class="form-inline">
			<label>Add a link:</label>
			<input ng-model="newLink" type="text" placeholder="Add new link">
			<button class="btn" type="submit" value="add">Add Link</button>
		</form>
	</div>
	<div class="table-section">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Link Title</th>
					<th>Clicks</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			<thead>
			<tbody>
				<tr ng-repeat="l in links">
					<td><a href="#/landing/{{l.slug}}" ng-click="addClick(l)">{{l.name}}</td>
					<td>{{l.clicks}}</td>
					<td><button class="btn" ng-click="editLink(l)">Edit</button></td>
					<td><button class="btn" ng-click="deleteLink(l)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
